<nav mat-tab-nav-bar>
<!--   
	<a mat-tab-link routerLinkActive="active" routerLink="/bank/banks-list">
	View Banks
	</a>
	<a mat-tab-link  routerLinkActive="active" routerLink="/bank/create-bank">Add Bank</a> -->
	<a mat-tab-link  routerLinkActive="active" routerLink="/account/accounts-list">view Account</a><br/>
	<a mat-tab-link  routerLinkActive="active" routerLink="/account/create-account">Add Account</a> <br/>
	<a mat-tab-link  routerLinkActive="active" routerLink="/account/details">Account Details</a> 

	

</nav>
<router-outlet></router-outlet>
