<div class="row justify-content-center">
    <div class="col-md-4 register-bank">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">BankName</label>
            <input class="form-control" type="text" formControlName="name">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              Name is required.
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputBranch">Branch</label>
            <input class="form-control" type="text" formControlName="branch">
             <!-- error -->
             <div class="invalid-feedback" *ngIf="submitted && myForm.branch.errors?.required">
                Branch is required.
              </div>
          
          </div>
  
          <div class="form-group">
            <label for="inputPassword3">Code</label>
            <input class="form-control" type="text" formControlName="code">
             <!-- error -->
             <div class="invalid-feedback" *ngIf="submitted && myForm.code.errors?.required">
                code is required.
              </div>
           
          </div>
  
          <div class="form-group">
            <label for="inputVerify3">Location</label>
            <input class="form-control" type="text" formControlName="location">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.location.errors?.required">
                location is required.
              </div>
           
          </div><br/>
  
          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
          </div>
        </form>
  
      </div>
    </div><!-- form card register -->
  </div>