<div class="row justify-content-center">
  <div class="col-md-4 register-bank">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Bank</h3>
      </div>
      <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">BankName</label>
          <input class="form-control" type="text" formControlName="name">
          <!-- error -->
          <div *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched)" class="alert alert-danger">
            <div *ngIf="editForm.controls.name.errors.required">
              Name is required.
           </div>
           <div *ngIf="editForm.controls.name.errors.minlength">
            Name must be at least 3 characters long.
         </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputBranch">Branch</label>
          <input class="form-control" type="text" formControlName="branch">
           <!-- error -->
           <div *ngIf="editForm.controls.branch.invalid && (editForm.controls.branch.dirty || editForm.controls.branch.touched)" class="alert alert-danger">
            <div *ngIf="editForm.controls.branch.errors.required">
              branch is required.
           </div>
           </div>
        
        </div>

        <div class="form-group">
          <label for="inputPassword3">IFSC Code</label>
          <input class="form-control" type="text" formControlName="ifsccode">
           <!-- error -->
           <div *ngIf="editForm.controls.ifsccode.invalid && (editForm.controls.ifsccode.dirty || editForm.controls.ifsccode.touched)" class="alert alert-danger">
            <div *ngIf="editForm.controls.ifsccode.errors.required">
              ifsccode is required.
           </div>
           <div *ngIf="editForm.controls.ifsccode.errors.minlength">
             ifsccode must have 11 characters.
          </div>
          <div *ngIf="editForm.controls.ifsccode.errors.pattern">
            Enter valid ifsccode.
         </div>
           </div>
          
         
        </div>
        <div class="form-group">
          <label for="inputPassword3">MICR Code</label>
          <input class="form-control" type="text" formControlName="micrcode">
           <!-- error -->
           <div *ngIf="editForm.controls.micrcode.invalid && (editForm.controls.micrcode.dirty || editForm.controls.micrcode.touched)" class="alert alert-danger">
            <div *ngIf="editForm.controls.micrcode.errors.required">
              micrcode is required.
           </div>
           <div *ngIf="editForm.controls.micrcode.errors.minlength">
             micrcode must have 9 characters.
          </div>
          
           </div>
          
         
        </div>

        <div class="form-group">
          <label for="inputVerify3">Location</label>
          <input class="form-control" type="text" formControlName="location">
          <!-- error -->
          <div *ngIf="editForm.controls.location.invalid && (editForm.controls.location.dirty || editForm.controls.location.touched)" class="alert alert-danger">
            <div *ngIf="editForm.controls.location.errors.required">
              location is required.
           </div>
           </div>
         
         
        </div><br/>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
  </div>
</div>
<!-- <div class="row justify-content-center">
    <div class="col-md-4 register-bank"> -->
      <!-- form card register -->
      <!-- <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Edit Bank</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
 
            <div class="form-group">
              <label for="inputName">Name</label>
              <input class="form-control" type="text" formControlName="name">
              
            </div>
            <div class="form-group">
                <label for="inputBranch">Branch</label>
                <input class="form-control" type="text" formControlName="branch">
                 error -->
                 <!-- <div class="invalid-feedback" *ngIf="submitted && myForm.branch.errors?.required">
                    Branch is required.
                  </div>
              
              </div>
              <div class="form-group">
                <label for="inputPassword3">Code</label>
                <input class="form-control" type="text" formControlName="code"> -->
                 <!-- error -->
                 <!-- <div class="invalid-feedback" *ngIf="submitted && myForm.code.errors?.required">
                    code is required.
                  </div>
               
              </div>
 
              <div class="form-group">
                <label for="inputVerify3">Location</label>
                <input class="form-control" type="text" formControlName="location"> -->
                <!-- error -->
                <!-- <div class="invalid-feedback" *ngIf="submitted && myForm.location.errors?.required">
                    location is required.
                  </div>
               
              </div><br/>
 
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
 