<div class="row justify-content-center">
  <div class="col-md-4 register-bank">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <!-- error
          <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
            Name is required.
          </div> -->
        </div>

        <div class="form-group">
          <label>Select Bank</label><br/>
            <select [(ngModel)]="selectedBankId" (selectionChange)="setBankDetails()" formControlName="bank" >
                <option *ngFor="let bank of Bank" [value]="bank.name">
                  {{bank.name}}
                </option>
              </select>
          <!-- <label for="Bank">Bank</label>
          <input class="form-control" type="text" formControlName="bank">
            error 
           <div class="invalid-feedback" *ngIf="submitted && myForm.bank.errors?.required">
              Bank is required.
            </div>
         -->
        </div>

        <div class="form-group">
          <label for="AccountType">AccountType</label>
          <input class="form-control" type="text" formControlName="AccountType">
           <!-- error
           <div class="invalid-feedback" *ngIf="submitted && myForm.AccountType.errors?.required">
              AccountType is required.
            </div>
          -->
        </div>

        <div class="form-group">
          <label for="AccountNo">AccountNo</label>
          <input class="form-control" type="text" formControlName="AccountNo">
          <!-- error
          <div class="invalid-feedback" *ngIf="submitted && myForm.AccountNo.errors?.required">
              AccountNo is required.
            </div>
          -->
        </div><br/>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>