<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary" position="fixed">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    My Application
  </mat-toolbar>


    <mat-sidenav  #sidenav  mode="side" position="start" opened>
      Menu
      <br>
      <br>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Banking
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item  routerLinkActive="active" routerLink="bank/banks-list">View Bank</mat-list-item>
            <mat-list-item  routerLinkActive="active" routerLink="bank/create-bank">Add Bank</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
        </mat-expansion-panel>                     
      </mat-accordion>
      <br>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accounting
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item routerLinkActive="active" routerLink="account/accounts-list">View Account</mat-list-item>
            <mat-list-item routerLinkActive="active" routerLink="account/create-account">Add Account</mat-list-item>
            <mat-list-item routerLinkActive="active" routerLink="account/details">Account Details</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
        </mat-expansion-panel>                     
      </mat-accordion>
      
    </mat-sidenav>
  
    <router-outlet></router-outlet>
    
  </mat-sidenav-container> 













































  <!-- <mat-sidenav-container fullscreen>
    <mat-sidenav  #sidenav  mode="side" position="start" opened>
      Menu
      <div>
      <a class="my-0 mr-md-auto font-weight-normal" >Banking</a>
      <mat-list role="list">
        <mat-list-item  routerLinkActive="active" routerLink="bank/banks-list">View Bank</mat-list-item>
        <mat-list-item  routerLinkActive="active" routerLink="bank/create-bank">Add Bank</mat-list-item>
      </mat-list>
      </div>
      <div>
      <a  class="my-0 mr-md-auto font-weight-normal" >Accounts</a>
      <mat-list role="list">
        <mat-list-item routerLinkActive="active" routerLink="account/accounts-list">View Account</mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="account/create-account">Add Account</mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="account/details">Account Details</mat-list-item>
      </mat-list>
      </div>
      
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        My Application
      </mat-toolbar>
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->